/* Importar la fuente */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/* src/styles/Global.css */

/* Estilo general para el cuerpo */
/* src/styles/Global.css */

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; /* Asegúrate de usar la fuente correcta */
}

/* Estilo para el contenedor principal en modo oscuro */
.dark-mode {
  background-color: #161616; /* Color de fondo para el modo oscuro */
  color: #e0e0e0; /* Color del texto para el modo oscuro */
}

/* Estilo para el contenedor principal en modo claro */
body:not(.dark-mode) {
  background-color: #f8f9fa; /* Color de fondo para el modo claro */
  color: #161616; /* Color del texto para el modo claro */
  transition: background-color 0.3s ease;
}



.main-content {
  margin-top: 10vh; /* Ajusta el espacio según sea necesario */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilo para el texto introductorio */
.intro-text {
  font-size: 1.2em; /* Ajusta el tamaño del texto */
  margin-top: 20px; /* Espacio encima del párrafo */
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.6;
}

.additional-content {
  margin-top: 20px; /* Ajusta el espacio según sea necesario */
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .main-content {
    margin-top: 80px; /* Ajusta el margen para pantallas medianas */
  }

  .additional-content {
    margin-top: 15px; /* Ajusta el margen para pantallas medianas */
  }
}

@media (max-width: 480px) {
  .main-content {
    margin-top: 70%; /* Ajusta el margen para pantallas pequeñas  70%*/
  }

  .additional-content {
    margin-top: 10px; /* Ajusta el margen para pantallas pequeñas */
  }
}
